body {
  font-family: Arial, sans-serif;
}
table {
  border: 1px solid #000;
  border-collapse: collapse;
  margin-top: 20px;
}
thead {
  background-color: #aeaeae;
}
th {
  padding: 10px;
}
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
tr:empty {
  height: 39px;
}
tr:empty:last-child {
  height: 0;
  border: 0;
}
.even {
  background-color: #ddddee;
}
